
{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}

{% block page %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='directory_search/directory_search.css') }}">
  {% block javascript %}
      <script src="{{ url_for('static',filename='directory_search/directory_search.js') }}"></script>
  {% endblock %}
</head>


<!-- Ok, so I'm using a search bar example from online lmao -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}




<div id="myDIV" class="title">
  <h2 style="margin:5px">Search Functionality</h2>
  <input type="text" id="myInput" placeholder="Role/Occupation">
  <span onclick="newElement()" class="addBtn">Add</span>
</div>

<div class = "editUL">
  <ul id="myUL">

  </ul>
</div>



{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    <p>
    {{ render_field(form.name) }}
  </dl>
  <p><input type=submit value=Search>
</form>
{% endblock %}
