  
{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}

<!-- Unsure where to put the header
	<head>
		<title>Person Search Database</title>
	</head>
-->
{% block page %}
<!-- Ok, so I'm using a search bar example from online lmao -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>
{% endblock %}
