{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block page %}

<!-- uses donut as inspo -->
<title>User Profile Page</title>
	<div class='container theme-showcase jumbotron' style='float: none; padding-bottom: 25px'>
        <form action="" method="post">
            {{ form.hidden_tag() }}
    		<h2 align="center"> {{profile.first_name}} {{profile.last_name}} </h2>
    	    <table>
    		<tr>
    			<th>Name:</th>
    			<td>{{profile.first_name}} {{profile.last_name}}</td>
    		</tr>
            <tr>
                <th>{{form.edit_preferred_name.label}}</th>
                {% if profile.preferred_name %}
                {% set preferred_name = profile.preferred_name %}
                    <td>{{ form.edit_preferred_name(placeholder=preferred_name, size=64) }}</td>
                {% else %}
                    <td>{{ form.edit_preferred_name(size=64) }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Registered email:</th>
                <td>{{user.email}} </td>
            </tr>
    		<tr>
    			<th>{{form.edit_contact_email.label}}</th>
                {% if profile.contact_email %}
                {% set contact_email = profile.contact_email %}
                    <td>{{ form.edit_contact_email(placeholder=contact_email, size=64) }}</td>
                {% else %}
                    <td>{{ form.edit_contact_email(size=32) }}</td>
                {% endif %}
    		</tr>
    		<tr>
                <th>{{form.edit_phone.label}}</th>
                {% if profile.phone %}
                {% set phone = profile.phone %}
                    <td>{{ form.edit_phone(placeholder=phone, size=64) }}</td>
                {% else %}
                    <td>{{ form.edit_phone(size=64) }}</td>
                {% endif %}
    		</tr>
    		<tr>
                <th>{{form.edit_positions.label}}</th>
                {% if positions %}
                    <td>{{ form.edit_positions(placeholder=positions, size=64) }}</td>
                {% else %}
                    <td>{{ form.edit_positions(size=64) }}</td>
                {% endif %}
    		</tr>
    		<tr>
                <th>{{form.edit_courses.label}}</th>
                {% if courses %}
                    <td>{{ form.edit_courses(placeholder=courses, size=64) }}</td>
                {% else %}
                    <td>{{ form.edit_courses(size=64) }}</td>
                {% endif %}
    		</tr>
            <tr>
                <th>{{form.edit_notes.label}}</th>
            </tr>
    	</table>
            {% if profile.notes %}
            {% set note = profile.notes %}
                <td>{{ form.edit_notes(placeholder=note, rows="7", cols="82") }}</td>
            {% else %}
                <td>{{ form.edit_notes(rows="7", cols="64") }}</td>
            {% endif %} <br>
            {{ form.submit() }}
    	</form>
    </div>


{% endblock %}
