{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block page %}

<!-- uses donut as inspo -->
<title>User Profile Page</title>
	<div class='container theme-showcase jumbotron' style='float: none; padding-bottom: 25px'>
		<h3 align="center"> {{profile.first_name}} {{profile.last_name}} </h3>
	<table>
		<tr>
			<th>Name:</th>
			<td>{{profile.first_name}} {{profile.last_name}}</td>
			<td>Preferred name: <input type="text" name="prefname"></td>
		</tr>
		<tr>
			<th>Registered email:</th>
			<td>{{user.email}} </td>
		</tr>
		<tr>
			<th>Contact email:</th>
			<td><input type="text" name="contactemail"></td>
		</tr>
		<tr>
			<th>Contact phone: </th>
			<td><input type="text" name="phone"></td>
		</tr>
		<tr>
			<!-- TO DO: MAKE EDITABLE -->
			<th>Position(s):</th>
			<td>Director </td>
		</tr>
		<tr>
			<!-- TO DO: MAKE EDITABLE -->
			<th>Classes:</th>
			<td>
				<table>
					<tr><td>Introduction to Video Editing</tr></td>
				</table>

			</td>
		</tr>
		<tr>
			<th>Profile description:</th>
		</tr>
	</table>
	<textarea rows="7" cols="50"></textarea><br>
	<input type="submit" value="Submit changes">
	</div>


{% endblock %}
