{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block page %}

	<div class='container theme-showcase jumbotron' style='float: none; padding-bottom: 25px'>
	<h3> User Profile </h3>	
	<table>
		<tr>
			<th>Name:</th>
			<td>{{user.first_name}} {{user.last_name}}<td>
		</tr>
		<tr>
			<th>Contact email:</th>
			<td>{{profile.contact_email}}</td>
		</tr>
		<tr>
			<th>Contact phone:</th>
			<td>{{profile.phone}}</td>
		</tr>
		<tr>
			<th>Position:</th>
			<td>{{profile.positions}}</td>
		</tr>
		<tr>
			<th>Classes:</th>
			<td>{{profile.classes}}</td>
		</tr>
		<tr>
			<th>Profile description:</th>
			<td>{{profile.notes}}</td>
		</tr>
	</table>
	</div>


{% endblock %}
