{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block page %}

	<div class='container theme-showcase jumbotron' style='float: none; padding-bottom: 25px'>
	<h3> User Profile </h3>	
	<table>
		<tr>
			<th>Name:</th>
			<td>Sarah Johnson<td>
		</tr>
		<tr>
			<th>Contact email:</th>
			<td>sarah.johnson@hotmail.com</td>
		</tr>
		<tr>
			<th>Contact phone:&nbsp&nbsp&nbsp</th>
			<td>626-395-3776</td>
		</tr>
		<tr>
			<th>Position:</th>
			<td>Director</td>
		</tr>
		<tr>
			<th>Classes:</th>
			<td>Directing 101</td>
		</tr>
		<tr>
			<th>Description:</th>
			<td>Aspiring filmmaker with experience in directing and editing.</td>
		</tr>
	</table>
	</div>


{% endblock %}
