{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block page %}

	<div class='container theme-showcase jumbotron' style='float: none; padding-bottom: 25px'>
	<h3> User Profile </h3>	
	<table>
		<tr>
			<th>Name:</th>
			<td>John Smith<td>
		</tr>
		<tr>
			<th>Contact email:</th>
			<td>johnsmith07@gmail.com</td>
		</tr>
		<tr>
			<th>Contact phone:</th>
			<td>626-395-5739</td>
		</tr>
		<tr>
			<th>Position:</th>
			<td>Cameraman</td>
		</tr>
		<tr>
			<th>Classes:</th>
		</tr>
		<tr>
			<th>Profile description:</th>
		</tr>
	</table>
	</div>


{% endblock %}
